<div class="col-md-6">
  <div class="row">
    <h1 class="page-title">{{ title }}</h1>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="col-xs-6 col-md-3" id="page-logo">
      <a href="https://www.javascript.com/try" class="thumbnail">
        <img src="../images/logo-js.png" alt="more here..." id="logo-js">
      </a>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="section-title">{{ text }}</h3>
        </div>
        <div class="panel-body" id="panel-content">
          <div class="col-md-2">
            <div class="row">
              <p>Using the<span class="label label-default">{{ label }}</span>method.</p>
              <button type="button" class="btn btn-primary" id="btn-get-size" onclick=resize()>Get size</button>
              <p id="size"></p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="col-md-12">
   <div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="section-title">{{ subtitle1 }}</h3>
        </div>
        <div class="panel-body" id="panel-content">
          <div class="col-md-2">
            <div class="row">
              <p><span class="label label-default">{{ part }}</span></p>
              <button type="button" class="btn btn-primary" onclick="accessAllowed()">alert</button>
              <button type="button" class="btn btn-primary" onclick="confirmName()">confirm</button>
            </div>
          </div>
        </div>
    </div>
   </div>
</div>



<!--<div class="col-md-3">
  <div class="row">
    <p class="section-title">{{ text }}</p>
  </div>
</div>
<div class="col-md-12">
  <div class="row" id="my-section">
    <button type="button" class="btn btn-primary" onclick=resize()>Get size</button>
    <p id="size"></p>
  </div>
</div>-->


    


