<div class="col-md-6">
  <div class="row">
    <h1 class="page-title">{{ title }}</h1>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="col-xs-6 col-md-3" id="page-logo">
      <a href="https://javascript.info/" class="thumbnail">
        <img src="../images/logo-js.png" alt="more here..." id="logo-js">
      </a>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="section-title">{{ text }}</h3>
        </div>
        <div class="panel-body" id="panel-content">
          <div class="col-md-6">
            <div class="row">
              <p><code>-</code>|<i class="fa fa-cogs" data-toggle="tooltip" aria-hidden="true"></i></p>
            </div>
            <div class="row">
              <p>Using the<span class="label label-default">{{ label }}</span>method.</p>
              <button type="button" class="btn btn-primary" id="btn-get-size" onclick=resize()>Get size</button>
              <p id="size"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <pre class="my-pre">my pre goes here</pre>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="col-md-12">
   <div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="section-title">{{ subtitle1 }}</h3>
        </div>
        <div class="panel-body" id="panel-content">
          <div class="col-md-2">
            <div class="row">
              <p><code>{{ part1 }}</code>|<i class="fa fa-cogs" data-toggle="tooltip" aria-hidden="true"></i></p>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary" onclick="accessAllowed()">alert</button>
              <button type="button" class="btn btn-primary" onclick="confirmName()">confirm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="col-md-12">
   <div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="section-title">{{ subtitle2 }}</h3>
        </div>
        <div class="panel-body" id="panel-content">
          <div class="col-md-4">
            <div class="row">
             <p><code>{{ part2 }}</code>|<i class="fa fa-cogs" data-toggle="tooltip" aria-hidden="true"></i></p>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary" onclick="stringWithZero">if (a string with zero)</button>
              <button type="button" class="btn btn-primary" onclick="">The name of JavaScript</button>
              <button type="button" class="btn btn-primary" onclick="">Rewrite 'if' into '?'</button>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary" onclick="">Show the sign</button>
              <button type="button" class="btn btn-primary" onclick="">Check the login</button>
              <button type="button" class="btn btn-primary" onclick="">Rewrite 'if..else' into '?'</button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
   <div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" id="section-title">{{ subtitle2 }}</h3>
        </div>
        <div class="panel-body" id="panel-content">
          <div class="col-md-4">
            <div class="row">
             <p><code>{{ part3 }}</code>|<i class="fa fa-cogs" data-toggle="tooltip" aria-hidden="true"></i></p>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary" onclick="stringWithZero()">if (a string with zero)</button>
              <button type="button" class="btn btn-primary" onclick="">The name of JavaScript</button>
              <button type="button" class="btn btn-primary" onclick="">Rewrite 'if' into '?'</button>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary" onclick="">Show the sign</button>
              <button type="button" class="btn btn-primary" onclick="">Check the login</button>
              <button type="button" class="btn btn-primary" onclick="">Rewrite 'if..else' into '?'</button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--<div class="col-md-3">
  <div class="row">
    <p class="section-title">{{ text }}</p>
  </div>
</div>
<div class="col-md-12">
  <div class="row" id="my-section">
    <button type="button" class="btn btn-primary" onclick=resize()>Get size</button>
    <p id="size"></p>
  </div>
</div>-->